@import "colors";

.card {
  display: flex;
  flex-direction: column;
  width: 325px;
  height: 198px;
  background: $color-background;
  border: 1px solid #152536;
  border-radius: 4px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 46px;
    background: $color-card-header;
    border-radius: 4px 4px 0px 0px;
    padding: 0px 24px 0px 36px;
    border-bottom: 1px solid rgba(52, 58, 64, 0.1);
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  &__date {
    font-size: 12px;
    line-height: 24px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding-bottom: 20px;
    padding-top: 29px;
  }

  &__content {
    font-weight: 800;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
  }

  &__button {
    padding: 10px 16px;
    border-radius: 4px;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    &:hover {
      opacity: 0.9;
    }
  }
}
