<div class="card">
  <header class="card__header">
    <span class="card__title">{{ title }}</span>
    <span *ngIf="extraData" class="card__date">{{ extraData }}</span>
  </header>
  <div class="card__body">
    <span class="card__content" [ngStyle]="{ color: contentColor }">{{
      value
    }}</span>
    <button
      (click)="btnEvent.emit()"
      [ngStyle]="{ 'background-color': btnBgColor }"
      class="card__button"
      mat-raised-button
    >
      {{ btnText }}
    </button>
  </div>
</div>
