<div class="products">
  <bread-crumb [primaryText]="'Cadastros'" [secondaryText]="'Produtos'"></bread-crumb>
  <add-button (clickEvent)="add()">Produto</add-button>

  <generic-list
    (actionEvent)="handleActions($event)"
    [tableData]="dataSource"
    [itemsDisplayedColumns]="productColumns"
    [actions]="customActions"
  >
    <button mat-menu-item (click)="addQuantity()">
      <mat-icon class="menu-icon">add</mat-icon>
      <span>Adicionar Quantidade</span>
    </button>
  </generic-list>
</div>
