$color-primary: #{"var(--color-primary)"};
$color-secondary: #{"var(--color-secondary)"};

$color-background: #{"var(--color-background)"};
$color-surface: #{"var(--color-surface)"};

$color-text-on-background: #{"var(--color-text-on-background)"};
$color-text-on-surface: #{"var(--color-text-on-surface)"};
$color-text-on-primary: #{"var(--color-text-on-primary)"};
$color-text-on-secondary: #{"var(--color-text-on-secondary)"};

$color-title-on-background: #{"var(--color-title-on-background)"};
$color-title-on-surface: #{"var(--color-title-on-surface)"};
$color-title-on-primary: #{"var(--color-title-on-primary)"};
$color-title-on-secondary: #{"var(--color-title-on-secondary)"};

$color-link: #{"var(--color-link)"};
$color-link-hover: #{"var(--color-link-hover)"};

$color-danger: #{"var(--color-danger)"};
$color-success: #{"var(--color-success)"};

$project-colors: (
  "primary": #33ffa9,
  "secondary": #1986a7,
  "background": #1d1d1d,
  "surface": #404348,
  "text-on-background": white,
  "text-on-surface": #65686c,
  "text-on-primary": #1986a7,
  "text-on-secondary": #1986a7,
  "title-on-background": white,
  "title-on-surface": white,
  "title-on-primary": #1986a7,
  "title-on-secondary": #1986a7,
  "link": #6ba8c7,
  "link-hover": #a0d4ee,
  "success": #008d4c,
  "danger": #cf6679,
);

$project-colors-theme-dark: (
  "primary": #1986a7,
  "secondary": #1986a7,
  "background": #313534,
  "surface": #313534,
  "text-on-background": #1986a7,
  "text-on-surface": #1986a7,
  "text-on-primary": #1986a7,
  "text-on-secondary": #1986a7,
  "title-on-background": #1986a7,
  "title-on-surface": #1986a7,
  "title-on-primary": #1986a7,
  "title-on-secondary": #1986a7,
  "link": #6ba8c7,
  "link-hover": #4f89a7,
  "success": #008d4c,
  "danger": #cf6679,
);
