@import 'functions';
@import 'variables';

@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin default-page-padding {
  padding: rem(39 0 67 0);
}

@mixin reset-css {
  * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

  button,
  input,
  text-area {
    font-family: inherit;
  }

  html,
  body {
    height: 100%;
    width: 100%;
    font-family: $font-primary;
  }

  ul {
    li {
      list-style-type: none;
    }
  }

  a {
    text-decoration: none;
    outline: none;
  }
}

@mixin flex-center-important($direction: row) {
  display: flex !important;
  flex-direction: $direction !important;
  justify-content: center !important;
  align-items: center !important;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin size($width, $height: $width) {
  width: rem($width);
  height: rem($height);
}

@mixin size-important($width, $height: $width) {
  width: rem($width) !important;
  height: rem($height) !important;
}

@mixin full-size {
  width: 100%;
  height: 100%;
}

@mixin max-size($width, $height: $width) {
  max-width: rem($width);
  max-height: rem($height);
}

@mixin save-button {
  background-color: $color-success;
  color: $color-text-on-success;
}
