@import "colors";
@import "variables";
@import "mixins";
@import "functions";

.sales {
  @include default-page-padding;
}

.header-detail {
  display: flex;

  &__item {
    margin-bottom: rem(20);
  }

  .header-detail__item + .header-detail__item {
    margin-left: rem(50);
  }
}

.header-actions {
  height: 80px;
}

mat-icon {
  transition: transform 0.3s;
}

mat-icon:hover {
  cursor: pointer;
  // transform: scale(1.1);
  transition: transform 0.2s;
}
