<ngd-abstract-template-crud>
  <ng-template #breadcrumb>
    <ngd-bread-crumb [primaryText]="'Vendas'"></ngd-bread-crumb>
  </ng-template>

  <ng-template #headerActions>
    <ngd-add-button (clickEvent)="add()">Venda</ngd-add-button>
    <div fxFlex fxLayout fxLayoutAlign="flex-end center" fxLayoutGap="20px">
      <div
        fxFlex
        fxLayout
        fxLayoutAlign="flex-end center"
        fxLayoutGap="10px"
        [formGroup]="filterGroup"
      >
        <mat-form-field @displayFilter *ngIf="displayCalendar">
          <mat-label></mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="" formControlName="dataStart" />
            <input
              (dateInput)="filtrarData()"
              matEndDate
              placeholder=""
              formControlName="dataEnd"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field @displayFilter *ngIf="displayValor">
          <input
            matInput
            currencyMask
            placeholder="Valor inicial"
            formControlName="valorStart"
          />
        </mat-form-field>
        <mat-form-field @displayFilter *ngIf="displayValor">
          <input
            matInput
            currencyMask
            placeholder="Valor final"
            formControlName="valorEnd"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-icon (click)="displayFilterRangeDate()">calendar_today</mat-icon>
        <mat-icon (click)="displayFilterRangeValue()">filter_alt</mat-icon>
      </div>
    </div>
  </ng-template>

  <ng-template #grid>
    <ngd-generic-list
      (actionEvent)="showDetails($event)"
      [tableData]="dataSource"
      [itemsDisplayedColumns]="productColumns"
      [actions]="customActions"
      [hasDefaultActions]="false"
    >
    </ngd-generic-list>
  </ng-template>
</ngd-abstract-template-crud>

<ngd-modal
  #salesRef
  title="{{ 'Detalhes da venda ' + currentSaleListItem?.id }}"
>
  <div class="header-detail">
    <p class="header-detail__item">
      <strong>Data:</strong>
      <span> {{ currentSaleListItem?.date | date: 'dd/MM/yyyy' }} </span>
    </p>
    <p class="header-detail__item">
      <strong>Valor:</strong>
      <span> {{ currentSaleListItem?.value | currency }} </span>
    </p>
    <p class="header-detail__item">
      <strong>Forma de pagamento:</strong>
      <span> {{ currentSaleListItem?.paymentMethod }} </span>
    </p>
  </div>
  <h4>Produtos:</h4>
  <ngd-generic-list
    [hasActions]="false"
    #customMatTable
    [itemsDisplayedColumns]="saleProductItemColumns"
  ></ngd-generic-list>
</ngd-modal>
