@import "functions";

.header-detail {
  display: flex;

  &__item {
    margin-bottom: rem(20);
  }

  .header-detail__item + .header-detail__item {
    margin-left: rem(50);
  }
}

mat-icon {
  transition: transform 0.3s;
}

mat-icon:hover {
  cursor: pointer;
  transition: transform 0.2s;
}
