<div class="sales">
  <bread-crumb [primaryText]="'Vendas'"></bread-crumb>
  <add-button (clickEvent)="add()">Venda</add-button>

  <generic-list
    (actionEvent)="showDetails($event)"
    [tableData]="dataSource"
    [itemsDisplayedColumns]="productColumns"
    [actions]="customActions"
    [hasDefaultActions]="false"
  >
  </generic-list>
</div>
<modal #salesRef title="{{ 'Detalhes da venda ' + currentSaleListItem?.id }}">
  <div class="header-detail">
    <p class="header-detail__item">
      <strong>Data:</strong>
      <span> {{ currentSaleListItem?.date | date: "dd/MM/yyyy" }} </span>
    </p>
    <p class="header-detail__item">
      <strong>Valor:</strong>
      <span> {{ currentSaleListItem?.value | currency }} </span>
    </p>
    <p class="header-detail__item">
      <strong>Forma de pagamento:</strong>
      <span> {{ currentSaleListItem?.paymentMethod }} </span>
    </p>
  </div>
  <h4>Produtos:</h4>
  <generic-list
    [hasActions]="false"
    #customMatTable
    [itemsDisplayedColumns]="saleProductItemColumns"
  ></generic-list>
</modal>
