@import "colors";
@import "variables";
@import "mixins";
@import "functions";

.sales {
  @include default-page-padding;
}
.header-detail {
  display: flex;

  &__item {
    margin-bottom: rem(20);
  }

  .header-detail__item + .header-detail__item {
    margin-left: rem(50);
  }
}
