@import "colors";
@import "variables";

$menu-color: #f2f2f2;
$hover-color: #333;

.header {
  display: flex;
  align-items: center;
  background-color: $color-primary;
  padding: 0 $global-horizontal-padding;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $menu-color;
    transition: color 0.2s;

    &:hover {
      color: $hover-color;
    }

    &.active {
      color: $hover-color;
    }
  }

  .logo {
    max-height: 40px;
  }

  a.header__link:last-of-type {
    padding-right: 0;
  }
}

.spacer {
  flex: 1 1 auto;
}
