<mat-toolbar class="header mat-elevation-z4">
  <span>
    <a routerLink="/dashboard">
      <img src="assets/images/logo.png" class="logo" alt="logo" />
    </a>
  </span>

  <div class="spacer"></div>
  <a
    class="header__link"
    mat-button
    routerLink="/dashboard"
    routerLinkActive="active"
    >Dashboard</a
  >
  <a
    class="header__link"
    mat-button
    routerLink="/vendas"
    routerLinkActive="active"
    r
    >Vendas +</a
  >
  <a
    class="header__link"
    mat-button
    [matMenuTriggerFor]="cadastros"
    [ngClass]="{
      active: category.isActive || products.isActive || paymentForm.isActive
    }"
    >Cadastros ▾</a
  >
  <mat-menu #cadastros="matMenu">
    <a
      #category="routerLinkActive"
      mat-menu-item
      routerLink="/cadastros/categoria"
      routerLinkActive="active"
      >Categorias</a
    >
    <a
      #products="routerLinkActive"
      mat-menu-item
      routerLink="/cadastros/produtos"
      routerLinkActive="active"
      >Produtos</a
    >
    <a
      #paymentForm="routerLinkActive"
      mat-menu-item
      routerLink="/cadastros/formas-pagamento"
      routerLinkActive="active"
      >Formas de Pagamento</a
    >
  </mat-menu>
</mat-toolbar>
