@import 'colors';
@import 'mixins';

.form {
  &__button {
    &--icon {
      &:first-of-type {
        margin-right: rem(10);
        background-color: $color-primary;
      }

      &:not([disabled]):not(:first-of-type) {
        background-color: $color-primary;
      }
    }
  }
}

button.salvar {
  @include save-button;
}
