<ngd-abstract-template-create-edit>
  <ng-template #breadcrumb>
    <ngd-bread-crumb [primaryText]="'Vendas'"></ngd-bread-crumb>
  </ng-template>

  <ng-template #actionText>
    <h2>Adicionar Venda</h2>
  </ng-template>

  <ng-template #formArea>
    <form novalidate class="form" [formGroup]="salesFormGroup">
      <div formArrayName="products">
        <div
          *ngFor="let item of products.controls; let pointIndex = index"
          [formGroupName]="pointIndex"
          fxLayout="row"
          fxLayoutGap="20px"
        >
          <ngd-generic-select
            (changeSelect)="selectedItem($event, item)"
            [label]="'Selecione o produto'"
            controlName="product"
            [items]="productsList"
            keyName="id"
            valueName="name"
            [minWidth]="'50%'"
          ></ngd-generic-select>

          <ngd-generic-input
            [label]="'Quantidade'"
            controlName="quantity"
            [type]="'number'"
            [placeholder]="'digite a quantidade de produtos'"
          >
          </ngd-generic-input>

          <div
            [ngStyle]="{ height: '63px' }"
            fxLayout
            fxLayoutGap="10px"
            fxLayoutAlign="center center"
          >
            <button
              (click)="addProduct()"
              class="form__button form__button--icon"
              type="button"
              mat-mini-fab
            >
              <mat-icon class="mat-18">add</mat-icon>
            </button>
            <button
              (click)="deleteProduct(pointIndex)"
              class="form__button form__button--icon"
              type="button"
              mat-mini-fab
              [disabled]="removeProductDisabled$$ | async"
            >
              <mat-icon class="mat-18">remove</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <ngd-generic-select
        [label]="'Selecione a forma de pagamento'"
        controlName="paymentForm"
        [items]="paymentMethods"
        keyName="id"
        valueName="description"
        [width]="'50%'"
      ></ngd-generic-select>

      <div fxLayoutGap="10px">
        <button
          mat-raised-button
          [disabled]="salesFormGroup.invalid"
          (click)="save()"
          class="salvar"
        >
          Salvar
        </button>
        <button mat-raised-button type="button" [routerLink]="['../', 'list']">
          Cancelar
        </button>
      </div>
    </form>
  </ng-template>
</ngd-abstract-template-create-edit>
