@import 'colors';
@import 'variables';
@import 'mixins';
@import 'functions';

.form {
  &__button {
    &--icon {
      &:first-of-type {
        margin-right: rem(10);
        background-color: $color-primary;
      }

      &:not([disabled]):not(:first-of-type) {
        background-color: $color-primary;
      }
    }
  }
}

button.salvar {
  background-color: $color-success;
  color: $color-text-on-success;
}
