<div class="sale">
  <h1 class="sale__title">Vendas</h1>
  <mat-divider class="sale__divider"></mat-divider>
  <form novalidate class="form" [formGroup]="salesFormGroup">
    <div class="form__products" formArrayName="products">
      <div
        class="form__product"
        *ngFor="let item of products.controls; let pointIndex = index"
        [formGroupName]="pointIndex"
      >
        <generic-select
          (changeSelect)="selectedItem($event, item)"
          class="form__field form__field--full column-2 row-1"
          [label]="'Selecione o produto'"
          controlName="product"
          [items]="productsList"
          keyName="id"
          valueName="name"
        ></generic-select>

        <generic-input
          class="form__field form__field--full column-2 row-1"
          [label]="'Quantidade'"
          controlName="quantity"
          [type]="'number'"
          [placeholder]="'digite a quantidade de produtos'"
        >
        </generic-input>

        <div class="form__icons column-3 row-1">
          <button
            (click)="addProduct()"
            class="form__button form__button--icon"
            type="button"
            mat-mini-fab
          >
            <mat-icon class="mat-18">add</mat-icon>
          </button>
          <button
            (click)="deleteProduct(pointIndex)"
            class="form__button form__button--icon"
            type="button"
            mat-mini-fab
            [disabled]="removeProductDisabled$$ | async"
          >
            <mat-icon class="mat-18">remove</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <generic-select
      class="form__field form__field--full column-2 row-1"
      [label]="'Selecione a forma de pagamento'"
      controlName="paymentForm"
      [items]="paymentMethods"
      keyName="id"
      valueName="description"
    ></generic-select>

    <div class="sales__buttons column-1 row-3">
      <button
        [disabled]="salesFormGroup.invalid"
        (click)="save()"
        type="submit"
        mat-raised-button
        class="form__button form__button--save"
      >
        Salvar
      </button>
      <button type="reset" mat-raised-button class="form__button form__button--cancel">
        Cancelar
      </button>
    </div>
  </form>
</div>
