<div class="dashboard">
  <h1 class="dashboard__title">Dashboard</h1>
  <mat-divider class="dashboard__divider"></mat-divider>
  <div class="dashboard__cards-container">
    <card
      [title]="'Vendas no mês'"
      [extraData]="'01/2021'"
      [value]="50"
      [btnBgColor]="'#17A2B8'"
      [contentColor]="'#17A2B8'"
    ></card>
    <card
      [title]="'Produtos para repor'"
      [value]="12"
      [btnBgColor]="'#EB5757'"
      [contentColor]="'#DC3545'"
    ></card>
  </div>
  <app-grid></app-grid>
</div>

