<div class="dashboard">
  <h1 class="dashboard__title">Dashboard</h1>
  <mat-divider class="dashboard__divider"></mat-divider>
  <div class="dashboard__cards-container">
    <ngd-card
      [title]="'Vendas no mês'"
      [extraData]="'01/2021'"
      [value]="50"
      [btnBgColor]="'#17A2B8'"
      [contentColor]="'#17A2B8'"
      [btnText]="'Ver detalhes'"
      (btnEvent)="showSalesDetails()"
    ></ngd-card>
    <ngd-card
      [title]="'Produtos para repor'"
      [value]="12"
      [btnBgColor]="'#EB5757'"
      [btnText]="'Ver detalhes'"
      [contentColor]="'#DC3545'"
      (btnEvent)="showProductsStockDetails()"
    ></ngd-card>
  </div>
  <ngd-grid></ngd-grid>
</div>

<ngd-modal [width]="'750px'" [title]="'Vendas do mês (01/21)'" #salesRef>
  <ngd-generic-list
    [hasActions]="false"
    [itemsDisplayedColumns]="salesColumns"
    [tableData]="sales"
  ></ngd-generic-list>
</ngd-modal>

<ngd-modal [width]="'750px'" [title]="'Produtos para repor'" #stockRef>
  <ngd-generic-list
    [hasActions]="false"
    [itemsDisplayedColumns]="stockColumns"
    [tableData]="productsStock"
  ></ngd-generic-list>
</ngd-modal>
