@import "functions";
@import "variables";
@import "mixins";

.dashboard {
  @include default-page-padding;

  &__title {
    font-family: $font-primary;
    font-size: rem(30);
    line-height: rem(36);
    margin-bottom: rem(32);
  }

  &__divider {
    margin-bottom: rem(45);
  }

  &__cards-container {
    display: flex;
    column-gap: rem(37);
  }
}
