.cadcategoria{
  margin-top: 20px;
  font-size: 14px;
}

form {
  display:flex;
  flex-direction: row;
  margin-top: 20px;
}

button {
  margin: 30px 15px 0px 0px;
}

button.salvar{
  background-color: #2fb82f;
  color: #ffffff;
}

input{
  margin-top: 5px;
  margin-right: 20px;
  border: solid 1px #cecece;
  border-radius: 4px;
  height: 30px;
}

input.id{
  background-color: #cecece;
  width: 130px;
}

input.nome{
  width: 600px;
}


