<abstract-template-crud>
  <ng-template #breadcrumb>
    <bread-crumb
      [primaryText]="'Cadastros'"
      [secondaryText]="'Forma Pagamento'"
    ></bread-crumb>
  </ng-template>

  <ng-template #headerActions>
    <add-button (clickEvent)="add()">Forma Pagamento</add-button>
  </ng-template>

  <ng-template #grid>
    <generic-list
      (actionEvent)="handleActions($event)"
      [tableData]="(dataSource | async)!"
      [itemsDisplayedColumns]="productColumns"
    >
    </generic-list>
  </ng-template>
</abstract-template-crud>
