<ngd-abstract-template-crud>
  <ng-template #breadcrumb>
    <ngd-bread-crumb
      [primaryText]="'Cadastros'"
      [secondaryText]="'Forma Pagamento'"
    ></ngd-bread-crumb>
  </ng-template>

  <ng-template #headerActions>
    <ngd-add-button (clickEvent)="add()">Forma Pagamento</ngd-add-button>
  </ng-template>

  <ng-template #grid>
    <ngd-generic-list
      (actionEvent)="handleActions($event)"
      [tableData]="dataSource"
      [itemsDisplayedColumns]="productColumns"
    >
    </ngd-generic-list>
  </ng-template>
</ngd-abstract-template-crud>
<ngd-modal
  [title]="'Excluir Forma de pagamento ' + selectedItem?.id"
  #modalRef
  [hasConfirmBtn]="true"
>
  <span
    >Deseja realmente excluir a Forma de pagamento
    {{ selectedItem?.description }} ?</span
  >
</ngd-modal>
