<ngd-abstract-template-crud>
  <ng-template #breadcrumb>
    <ngd-bread-crumb
      [primaryText]="'Cadastros'"
      [secondaryText]="'Categoria'"
    ></ngd-bread-crumb>
  </ng-template>

  <ng-template #headerActions>
    <ngd-add-button routerLink="/cadastros/categoria/add"
      >Categoria</ngd-add-button
    >
  </ng-template>

  <ng-template #grid>
    <ngd-generic-list
      (actionEvent)="handleActions($event)"
      [tableData]="dataSource"
      [itemsDisplayedColumns]="productColumns"
    >
    </ngd-generic-list>
  </ng-template>
</ngd-abstract-template-crud>
<ngd-modal
  [title]="'Excluir Categoria ' + selectedItem?.id"
  #modalRef
  [hasConfirmBtn]="true"
>
  <span>Deseja realmente excluir a categoria {{ selectedItem?.name }}</span>
</ngd-modal>
