<abstract-template-crud>
  <ng-template #breadcrumb>
    <bread-crumb
      [primaryText]="'Cadastros'"
      [secondaryText]="'Categoria'"
    ></bread-crumb>
  </ng-template>

  <ng-template #headerActions>
    <add-button routerLink="/cadastros/categoria/add">Categoria</add-button>
  </ng-template>

  <ng-template #grid>
    <generic-list
      (actionEvent)="handleActions($event)"
      [tableData]="dataSource"
      [itemsDisplayedColumns]="productColumns"
    >
    </generic-list>
  </ng-template>
</abstract-template-crud>
