<div class="payment-method">
  <bread-crumb
    [primaryText]="'Cadastros'"
    [secondaryText]="'Forma Pagamento'"
  ></bread-crumb>
  <h2>{{ id ? "Editar Forma de Pagamento" : "Cadastrar Forma de Pagamento" }}</h2>
  <div class="">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="20px">
      <section fxLayout="column">
        <mat-form-field>
          <input type="text" matInput placeholder="ID" formControlName="id" />
        </mat-form-field>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Descrição"
            formControlName="description"
          />
          <mat-error>
            <span>{{ getErrorMessage() }}</span>
          </mat-error>
        </mat-form-field>
      </section>
      <div fxLayoutGap="10px">
        <button
          mat-raised-button
          primary
          type="submit"
          mat-raised-button
          (click)="onSubmit()"
          class="salvar"
          [disabled]="form.invalid"
        >
          Salvar
        </button>
        <button mat-raised-button (click)="goBack()" class="cancelar">Cancelar</button>
      </div>
    </form>
  </div>
</div>
