<ngd-abstract-template-create-edit>
  <ng-template #breadcrumb>
    <ngd-bread-crumb
      [primaryText]="'Cadastros'"
      [secondaryText]="'Forma Pagamento'"
    ></ngd-bread-crumb>
  </ng-template>

  <ng-template #actionText>
    <h2>
      {{ id ? 'Editar Forma de Pagamento' : 'Cadastrar Forma de Pagamento' }}
    </h2>
  </ng-template>

  <ng-template #formArea>
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      fxLayout="column"
      fxLayoutGap="20px"
    >
      <section fxLayout="row" fxLayoutGap="20px">
        <ngd-generic-input
          #inputRef
          [width]="inputRef.defaultIdWidth"
          controlName="id"
          [hasLabel]="false"
          type="number"
          [placeholder]="'ID'"
        ></ngd-generic-input>
        <ngd-generic-input
          controlName="description"
          type="text"
          label="Descrição"
        ></ngd-generic-input>
      </section>
      <div fxLayoutGap="10px">
        <button
          mat-raised-button
          (click)="onSubmit()"
          class="salvar"
          [disabled]="form.invalid"
        >
          Salvar
        </button>
        <button mat-raised-button [routerLink]="['../', 'list']">
          Cancelar
        </button>
      </div>
    </form>
  </ng-template>
</ngd-abstract-template-create-edit>
