<div class="categoria">
  <ngd-bread-crumb
    [primaryText]="'Cadastros'"
    [secondaryText]="'Categoria'"
  ></ngd-bread-crumb>
  <h2>{{ isEditMode ? 'Editar Categoria' : 'Adicionar Categoria' }}</h2>
  <div class="cadcategoria">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      fxLayout="column"
      fxLayoutGap="20px"
    >
      <section class="payment-method__fields" fxLayout="row">
        <ngd-generic-input
          controlName="id"
          [hasLabel]="false"
          type="number"
          [placeholder]="'ID'"
        ></ngd-generic-input>
        <ngd-generic-input
          controlName="name"
          type="text"
          label="Categoria"
        ></ngd-generic-input>
      </section>
      <div fxLayoutGap="10px">
        <button
          mat-raised-button
          (click)="saveCat(id)"
          class="salvar"
          [disabled]="form.invalid"
        >
          Salvar
        </button>
        <button
          mat-raised-button
          routerLink="/cadastros/categoria"
          class="cancelar"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
