<ngd-abstract-template-crud>
  <ng-template #breadcrumb>
    <ngd-bread-crumb
      [primaryText]="'Cadastros'"
      [secondaryText]="'Produtos'"
    ></ngd-bread-crumb>
  </ng-template>

  <ng-template #headerActions>
    <ngd-add-button (clickEvent)="add()">Produto</ngd-add-button>
  </ng-template>

  <ng-template #grid>
    <ngd-generic-list
      (actionEvent)="handleActions($event)"
      [tableData]="dataSource"
      [itemsDisplayedColumns]="productColumns"
      [actions]="customActions"
    >
    </ngd-generic-list>
  </ng-template>
</ngd-abstract-template-crud>
