<ngd-abstract-template-create-edit>
  <ng-template #breadcrumb>
    <ngd-bread-crumb
      [primaryText]="'Cadastros'"
      [secondaryText]="'Produtos'"
    ></ngd-bread-crumb>
  </ng-template>

  <ng-template #actionText>
    <h2>{{ isEditMode ? 'Editar Produto' : 'Adicionar Produto' }}</h2>
  </ng-template>

  <ng-template #formArea>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column">
      <div fxLayout="row" fxLayoutGap="20px">
        <ngd-generic-input
          #inputRef
          [width]="inputRef.defaultIdWidth"
          controlName="id"
          [hasLabel]="false"
          type="number"
          [placeholder]="'ID'"
          gdRow="1"
        >
        </ngd-generic-input>

        <ngd-generic-input
          controlName="name"
          type="text"
          label="Nome"
          gdRow="1"
        ></ngd-generic-input>
      </div>
      <div fxLayout="row" fxLayoutGap="20px">
        <ngd-generic-select
          [label]="'Selecione a Categoria'"
          controlName="category"
          [items]="categoryList"
          keyName="id"
          valueName="name"
          [minWidth]="'210px'"
        >
        </ngd-generic-select>

        <ngd-generic-input
          controlName="quantity"
          type="number"
          label="Quantidade"
          [minWidth]="'120px'"
        ></ngd-generic-input>

        <ngd-generic-input
          controlName="price"
          type="number"
          label="Preço"
        ></ngd-generic-input>
      </div>

      <div fxLayoutGap="10px">
        <button
          mat-raised-button
          (click)="save()"
          class="salvar"
          [disabled]="form.invalid"
        >
          Salvar
        </button>
        <button
          mat-raised-button
          routerLink="/cadastros/produtos/list"
          class="cancelar"
        >
          Cancelar
        </button>
      </div>
    </form>
  </ng-template>
</ngd-abstract-template-create-edit>
