@import "variables";
@import "mixins";
@import "colors";
@import "material";
@import "media";

@include reset-css;

:root {
  @each $name, $color in $project-colors {
    --color-#{$name}: #{$color};
  }
}

:root.dark-mode {
  @each $name, $color in $project-colors-theme-dark {
    --color-#{$name}: #{$color};
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: $font-primary;
}

.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
  background-color: #cecece;
  border-radius: 5px;
}
