
<div class="container">
  <button class="addcat" mat-raised-button routerLink="create/">+ Categoria</button>
</div>

<table mat-table  [dataSource]= "dataSource" class="mat-elevation-z0">

  <!-- Nome Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> <strong>#</strong> </th>
    <td mat-cell *matCellDef="let element"> <strong>{{element.position}}</strong> </td>
  </ng-container>

  <!-- Preço Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef= "let element"> {{element.name}} </td>
  </ng-container>

  <!-- action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef= "let element; let i = index" >
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="edit(element)">
            <mat-icon class="menu-icon">edit</mat-icon>
            <span>Editar</span>
          </button>
          <button mat-menu-item (click)="alertConfirmation()">
            <mat-icon class="menu-icon">delete</mat-icon>
            <span>Deletar</span>
          </button>
        </mat-menu>
    </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



