$primary-color:#7749F8;
$menu-color:#F2F2F2;
$hover-color: #333;
$font-size: 16px;


button.addcat{
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 20px;
  background-color: $primary-color;
  color: $menu-color;
  font-size: $font-size
}

button{
  background-color: #ffff;
}

table {
  width: 95%;
  margin-left: 20px;
  margin-top: 15px;
  border-top: 1px solid #dee2e6;
}

i.edit{
color: #f85f5f;
margin-right: 5px;
}

i.delete{
  color: gray;
  margin-right: 5px;
}

th{
  color:$hover-color;
  font-size: $font-size;
  font-weight: bold;
}



